.footer {
  margin: 0 auto;
  @media (min-width: 767px) {
    margin: 0px 20px 0px 20px;
  }
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-left: 20px;
  }
}

.footer__social {
  display: flex;
  align-content: baseline;
  justify-content: space-between;
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 80px;
    margin-left: 100px;
  }
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (min-width: 1024px) {
    margin-top: 20px;
  }
}

.footer__social-item {
  text-decoration: none;
  padding-right: 20px;
}

.footer__social-item svg {
  fill: #bdbdbd;
  &:hover {
    fill: #7859cf;
  }
}

.footer__copyright-link {
  text-decoration: none;
  width: 206px;
  height: 16px;
  color: var(--base-grey, #bdbdbd);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  &:hover {
    color: #7859cf;
  }
}

.footer__copyright-link svg {
  fill: #bdbdbd;
  padding-left: 3px;
  padding-top: 6px;

  &:hover {
    fill: #7859cf;
  }
}

.footer__media-item--link {
  text-decoration: none;
  color: #333333;
  &:hover,
  &:focus {
    color: #7859cf;
  }
}
.footer__eshop-item--link {
  text-decoration: none;
  color: #333333;
    &:hover,
  &:focus {
    color: #7859cf;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0px 20px 0px;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  column-gap: 60px;
  margin-bottom: 30px;
  @media (min-width: 767px) {
    display: flex;
    flex-direction: row;
  }
  @media (min-width: 1024px) {
    position: relative;
    left: 400px;
    bottom: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 200px;
  }
}

.footer__eshop-item--title {
  color: var(--base-primary, #7859cf);

  /* Heading4 */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.28px;
}

.create-line {
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  background: var(--base-secondary, #f0ebff);
  margin: 20px 0px 20px 0px;
  @media (min-width: 767px) {
    display: none;
  }
}
