.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list--main {
  .nav__item {
    display: none;
    @media (min-width: $tablet-width) {
      display: inline-flex;
      padding: 32px 20px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 40px;
      border-bottom: 2px solid transparent;

      &:hover,
      &:focus {
        border-color: #7859cf;
        background: var(--base-white, #fff);
      }
      .nav__link {
        text-decoration: none;
        color: #333333;
      }
    }
  }
}

.nav__list--user {
  display: inline-flex;
}

.nav__link--icon {
  display: inline-flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .nav__text {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: inline-flex;
    padding: 32px 22px;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  @media (min-width: $desktop-width) {
    display: inline-flex;
    padding: 32px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    text-decoration: none;
    color: #333333;

    .nav__text {
      display: inline-flex;
      //text-decoration: none;
      //color: #333333;
    }
  }
}

.nav__toggle {
  display: inline-flex;
  padding: 22px;
  align-items: flex-start;
  gap: 10px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
