.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: none;

  @media (min-width: 767px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.nav__item {
  margin-right: 40px;
  display: inline-flex;
  padding: 32px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
  &:hover,
  &:focus {
    border-bottom: 2px solid #7859cf;
    background: var(--base-secondary, #f0ebff);
  }
}

.nav__link {
  text-decoration: none;
  color: #333333;
}

.nav__list--user {
  @media (min-width: 767px) {
    justify-content: end;
    background-color: #ffffff;
  }
}

.nav__toggle {
  position: absolute;
  top: 29px;
  right: 31px;
  z-index: 10;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__link--login-text {
  display: none;
  @media (min-width: 1024px) {
    display: inline-block;
    padding-left: 10px;
  }
}

.nav__link--cart-text {
  display: none;
  @media (min-width: 1024px) {
    display: inline-block;
    padding-left: 10px;
  }
}

.nav--opened .nav__toggle {
  @media (max-width: 767px) {
    background-image: url("./img/svg/icon-close.svg");
  }
}

.nav--opened .nav__list--main,
.nav--opened .nav__list--user {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.nav--opened .nav {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.no-js .nav {
  @media (max-width: 767px) {
    position: static;

    padding-top: 0;
  }
}

.no-js .nav__toggle {
  @media (max-width: 767px) {
    display: none;
  }
}

.no-js .nav__list--main {
  @media (max-width: 767px) {
    display: block;
  }
}

.no-js .nav__list--user {
  @media (max-width: 767px) {
    display: none;
  }
}
