.promo {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  background-color: #f3ebe1;
  padding: 30px 12px 30px 12px;
}

.promo__container {
  display: flex;
  flex-direction: row;

  align-items: center;
  //justify-content: space-between;
}

.promo__type {
  font-weight: 700;
}

.promo__item-img--lavender {
  display: none;
}

.promo__item-img--espresso {
  display: none;
}

.promo__control-arrow {
  margin: 0 auto;
  background-color: transparent;
  border-color: transparent;
}

.promo__price-container {
  display: flex;
  align-items: center;
  line-height: 32px;
  justify-content: space-between;
  font-family: Montserrat;
  font-size: 16px;
  color: var(--base-primary, #7859cf);
}

.promo__price-old {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  text-decoration: line-through;
}

.promo__price-discount {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;

  font-size: 18px;
  font-weight: 700;
  font-family: Montserrat;
  color: #333333;
}

.promo__title {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;

  color: var(--base-black, #333);
  text-align: center;

  /* Slider Heading Mobile */
  font-size: 36px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.72px;
}

.promo__text {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  align-content: space-around;

  color: var(--base-black, #333);
  text-align: center;

  width: 280px;
  align-items: flex-start;
  gap: 10px;
  /* Slider Description Desktop&Tablet */
  //font-size: 14px;
  //font-family: Montserrat;
  //line-height: 20px;
}
